# SPDX-FileCopyrightText: 2025 IDsec Solutions AB
#
# SPDX-License-Identifier: CC0-1.0

target

.DS_Store

# Intelij
*.iml
.idea
out
*.iws
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

**/megalinter-reports

# logs
/traefik/logs/
*.log


.env



